// Themes
$themes: (
  light: (
    text: #180202,
    bgColor: hsl(240, 100%, 95%),
    primary: #4d5eff,
    secondary: #e6e6e5,
    accent: #eeff00,
  ),
  dark: (
    text: #e0e0e0,
    bgColor: #1a1a1a,
    primary: #0012b3,
    secondary: #1a1a19,
    accent: #eeff00,
  ),
);

// Global Classed
html {
  .red {
    color: red;
  }
}

@keyframes squeezeAndStretch {
  0%,
  100% {
    transform: scaleX(1) scaleY(1);
  }

  50% {
    transform: scaleX(0.8) scaleY(1.2);
  }
}

// Fonts
@font-face {
  font-family: "Playfair Displace SC";
  src: url("./assets/fonts/playfairDisplaySC/PlayfairDisplaySC-Regular.ttf");
}

@font-face {
  font-family: "ChunkFive";
  src: url("./assets/fonts/chunkfive/Chunk.ttf");
}

$shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.16);

// Light Mode and general
html {
  // Globals
  & {
    body:not(:has(.homepage)) {
      padding-top: 3em;
    }

    * {
      transition-property: color, background-color, border-bottom, border;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    #root {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    body {
      padding: 0;
      margin: 0;
      background-color: map-get(map-get($themes, light), bgColor);
    }

    h1,
    h2,
    h3,
    p {
      margin: 0;
    }

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    // Scrollbars for all
    & {
      ::-webkit-scrollbar {
        width: 9px;
      }

      ::-webkit-scrollbar-track {
        background: transparent;
      }

      ::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 20px;
        border: transparent;
      }
    }
  }

  // Classed
  & {
    .hologramButton {
      color: map-get(map-get($themes, light), text);
      font-style: normal;
      text-decoration: none;
      margin: 0.25em;
      vertical-align: middle;
      font-size: 1.05em;

      border: none;
      border-bottom: 1px solid black;
      transition: all 0.25s;
      background-color: transparent;

      &.selected {
        font-weight: bold;
        border-bottom: 2px solid black;
      }
    }

    .hologramLink {
      color: map-get(map-get($themes, light), text);
      font-style: normal;
      text-decoration: none;
      margin: 0.25em;
      vertical-align: middle;

      &.accountIconLink {
        margin: 0em 1em;
        height: 2em;
        aspect-ratio: 1/1;

        .accountIcon {
          height: 100%;
          width: 100%;
          border-radius: 100em;
        }
      }
    }

    .refreshButton {
      aspect-ratio: 1/1 !important;
      padding: 0.1em;
      transform: scale(2);
      background: none;
      border: none;

      &:hover {
        background-color: rgb(227, 227, 227);
      }

      &:active {
        background-color: lightgreen;
      }
    }

    .Pot {
      display: inline-block;
      transform-origin: center bottom;
      animation: squeezeAndStretch 2.5s infinite alternate;
      aspect-ratio: 1/1;
      flex-grow: 0;
    }

    .form {
      position: relative;
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 2em;

      svg {
        aspect-ratio: 1/1;
      }

      &:focus-within {
        border: 1px solid black;
      }

      input,
      button {
        border: none;
        padding: 0.5em;

        &:focus {
          outline: none;
        }
      }
    }
  }

  // Redirect Page
  & {
    .redirectPage {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;

      .icon {
        height: 12em;
        aspect-ratio: 1/1;
        background-image: url("./assets/luad.png");
        background-size: cover;
      }
    }
  }

  // Top Navigation Bar
  & {
    .topNav {
      width: 100%;
      // padding: 0.4em 0em;
      height: 3em;
      border-bottom: 1px solid rgb(215, 215, 215);
      display: flex;
      align-items: center;
      z-index: 5;

      background-color: rgb(250, 250, 255);
      /* Adjust as needed */
      position: fixed;
      top: 0;

      .topNav-left {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .hologramLink:not(.accountIconLink) {
          padding: 0em 1em;
          margin: 0.2em;
          transition: transform 0.1s ease-in-out;

          &:hover {
            transform: scale(1.05);
            color: blueviolet;
            // background-color: rgba(0, 0, 0, 0.16);

            &::after {
              content: "";
              position: absolute;
              top: calc(0% - 1em);
              left: 0%;
              height: 3em;
              width: 100%;
              background-color: rgba(0, 0, 0, 0.149);
              z-index: -4;
            }
          }
        }
      }

      .topNav-right {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: right;
        align-items: center;

        .toggleDarkMode {
          aspect-ratio: 1/1;
          height: 2em;
          background-color: transparent;
          padding: 0em;
          border: none;
          margin: 0em 0.5em;

          svg {
            aspect-ratio: 1/1;
            height: 2em;
            width: 2em;
          }

          &:hover {
            #icon-lightMode {
              color: #8e99ff;
              transform: scale(1.2);
            }

            #icon-darkMode {
              color: rgb(255, 255, 161);
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

  // Homepage
  & {
    .homepage {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header {
        width: 100%;
        height: 24em;
        margin: 0em 0em 2em 0em;
        border-radius: 0em 0em 0.5em 0.5em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        transition: all 0.5s;
        background-image: url("./assets/header.webp");
        background-repeat: no-repeat;
        background-size: cover;

        .learnMoreScreen {
          filter: opacity(0);
          position: absolute;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          overflow-y: scroll;
          scroll-snap-type: y mandatory;

          .screen {
            width: 100%;
            height: 100%;
            flex: 0 0 auto;
            scroll-snap-align: start;
          }

          .screen1 {
            height: 90%;
          }
        }

        * {
          transition: all 0.5s;
          z-index: 2;
        }

        .header-video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(13, 0, 54, 0.8);
          border-radius: 0em 0em 0.5em 0.5em;
          z-index: 1;
          transition: background-color 2s;
        }

        .icon {
          aspect-ratio: 1/1;
        }

        .homepage-headerTitle {
          font-size: 3.5em;
          font-family: "Chunkfive";
          font-weight: 100;
          -webkit-text-stroke: 0.025em black;
          color: map-get(map-get($themes, light), accent);
        }

        .homepage.subtitle {
          font-size: 1.25em;
          width: 25%;
          text-align: center;
          font-family: "Playfair Display SC";
        }

        #homepage-learnMoreButton {
          background-color: rgba(15, 0, 31, 0.4);
          border: none;
          color: white;
          transition: background-color 0.025s ease-in-out;
          padding: 0.75em;

          margin-right: 2em;
          position: absolute;
          bottom: 2em;
          right: 1em;

          &:active {
            background-color: rgba(180, 164, 198, 0.4);
          }
        }

        &.showLearnMoreScreen {
          height: 95vh;

          & {
            .screen0 {
              display: flex;
              flex-direction: column;
              align-items: center;

              .icons {
                margin-top: 2em;
              }

              .imageCarousel {
                border-radius: 2em;
                display: flex;
                width: 90%;
                overflow: scroll;
                margin-top: 5em;
                scroll-snap-type: x mandatory;

                * {
                  scroll-snap-align: start;
                  flex: 0 0 auto;
                }
              }
            }

            .screen1 {
              padding: 2em;
              display: flex;
              align-items: center;
              justify-content: start;

              .boardMembers {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 1em;
                margin: 0em 0em 0em 16em;

                .boardMember {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 1em;

                  img,
                  svg {
                    width: 5em;
                    height: 5em;
                  }
                }
              }
            }
          }

          .learnMoreScreen {
            filter: opacity(1);
          }

          .header-video {
            filter: blur(2em);
          }

          &::after {
            background-color: rgba(9, 1, 35, 0.95);
          }

          .icon {
            filter: opacity(0);
          }

          .homepage-headerTitle {
            filter: opacity(0);
          }

          .homepage-subtitle {
            filter: opacity(0);
          }
        }
      }

      .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 5em;

        .contentPanel {
          display: flex;
          align-items: center;

          * {
            margin: 0.25em;
            background-color: transparent;
          }
        }

        .contentList {
          width: 80vw;
          margin-top: 1em;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 0.5em;

          .content {
            padding: 0.5em;
            padding-bottom: 2em;
            position: relative;
            // border: 1px solid black;
            border-radius: 0.5em;
            overflow: hidden;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-style: normal;
            text-decoration: none;
            // outline: solid red;

            &:not(.large) {
              aspect-ratio: 1/1;
            }

            &.large {
              grid-column: span 2;
            }

            .content-thumbnail {
              z-index: -2;
              position: absolute;
              top: 0px;
              left: 0px;
              height: calc(100% + 1em);
              width: 100%;
              object-fit: cover;
              transition: transform 1.05s ease-out;
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(
                0deg,
                rgba(2, 0, 36, 0.6558998599439776) 0%,
                rgba(0, 0, 50, 0.5494572829131652) 35%,
                rgba(0, 47, 57, 0) 100%
              );
              z-index: -1;
            }

            .content-title {
              font-weight: 625;
              font-size: 1.5em;
            }

            .content-author {
              outline: red;
              opacity: 0.75;
              transition: margin 0.15s;
            }

            &:hover {
              &::before {
                background: linear-gradient(
                  0deg,
                  rgba(2, 0, 36, 0.6558998599439776) 5%,
                  rgba(0, 0, 50, 0.5494572829131652) 45%,
                  rgba(0, 47, 57, 0) 100%
                );
              }

              .content-author {
                margin-bottom: 0.25em;
              }

              .content-thumbnail {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }

  // Content Pages
  & {
    .contentPage {
      padding: 2em 1em 3em 4em;
      font-size: larger;

      .contentPage-thumbnail {
        width: 70%;
        margin: 1em 0em;
        height: auto;
        border-radius: 0.5em;
        aspect-ratio: 16/9;
        object-fit: cover;
      }
    }
  }

  // Loading Page
  & {
    .loadingScreen {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .Pot {
        height: 18em;
        width: 18em;
        align-self: center;
      }
    }
  }

  // Admin page
  & {
    .adminPageLayout {
      display: flex;
      width: 100%;

      nav {
        display: flex;
        padding: 1em;
        flex-direction: column;
        border: 1px solid gray;

        a {
          padding: 0.2em 1em;
          margin: 0.5em 0em;
          border-radius: 0.5em;
          text-align: center;

          background-color: rgba(0, 0, 0, 0.03);

          &:hover {
            background-color: rgba(0, 0, 0, 0.06);
          }
        }
      }
    }
  }

  // Footer
  & {
    .footer {
      margin-top: 16em;
      height: 12em;
      width: calc(100vw - 4em);
      background-color: #1a1a1a;
      padding: 2em;
      color: white;
    }
  }
}

// Dark mode styling
html.darkmode {
  // Globals
  & {
    body {
      background-color: map-get(map-get($themes, dark), bgColor);
      color: map-get(map-get($themes, dark), text);

      p,
      h1,
      h2,
      h3,
      button,
      a {
        color: map-get(map-get($themes, dark), text);
      }

      button {
        background-color: map-get(map-get($themes, dark), bgColor);
      }
    }
  }

  // Top navigation bar
  & {
    .topNav {
      background-color: map-get(map-get($themes, dark), primary);
      border-bottom: none;

      .topNav-left {
        .hologramLink:not(.accountIconLink) {
          &:hover {
            color: map-get(map-get($themes, dark), accent);
          }
        }
      }
    }
  }

  // Homepage
  & {
    .contents {
      .contentPanel {
        * {
          color: white;
        }
      }

      .contentList {
        .content {
          outline: red;
        }
      }
    }
  }

  // Footer
  & {
    .footer {
      background-color: #000319;
    }
  }
}

// =================================================

// Profile Page (Temporary)
html {
  .profilePage {
    display: grid;
    place-items: center;
    margin-top: 2em;

    & * {
      margin: 0.25em;
    }

    button {
      padding: 0.5em;
    }
  }

  .infoDiv {
    box-shadow: $shadow;
    margin: 1em;
    width: 90vw;
    height: 40vh;
    border-radius: 0.5em;
    padding: 1em;
  }
}
