// Style groups
@mixin bg()
  background-repeat: no-repeat
  background-size: cover
@mixin center()
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  & > *
    flex: 0 0 auto
    max-width: 100%
@mixin max()
  height: 100%
  width: 100%
@mixin anOverlay($color, $border-radius: 0em)
  position: relative
  &::after
    content: "Yrdy"
    width: 100%
    height: 100%
    background-color: $color
    position: absolute
    z-index: 1
    border-radius: $border-radius
  *
    z-index: 2
@mixin forScreens($min)
  @if $min == 1024px
    @media (min-width: 1024px)
      @content
  @if $min == 768px
    @media ( min-width: 768px) and ( max-width: 1024px )
      @content
  @if $min == 640px
    @media ( max-width: 768px)
      @content

// Media queries
$p: 640px
$t: 768px
$d: 1024px

@font-face
  font-family: "Chunkfive"
  src: url("./Assets/fonts/chunkfive/Chunk.ttf")

// Global
body
  margin: 0
  max-width: 100vw

  &:not(.dark)
    color: #180202
    background-color: hsl(240, 100%, 95%)

  &.dark
    color: #e0e0e0
    background-color: #1a1a1a

  & .MediaWrapper
    width: 100vw

  h1, h2, h3, p
    margin: 0
    display: inline

// Homepage
.Homepage
  @include center()
  .Header
    @include bg
    @include center
    @include anOverlay(rgba(4, 0, 67, 0.9), 0.5em)
    background-image: url("header.webp")
    padding: 1em 0em
    width: 100%
    border-radius: 0.5em
    height: 40vh
    @include forScreens($p)
      height: 40vh
    @include forScreens($t)
      height: 30vh

    .HeaderScreen_Main
      @include center()
      color: white
      .Header-title
        font-family: "Chunkfive"
        color: gold
        font-weight: 500
        -webkit-text-stroke: 0.025em black
      @include forScreens($d)
        .Header-icon
          width: 10em
          height: 10em
        .Header-title
          font-size: 3em
        .Header-subtitle
          font-size: 1em
      @include forScreens($t)
        .Header-icon
          width: 7em
          height: 7em
        .Header-title
          font-size: 2em
        .Header-subtitle
          font-size: 0.7
      @include forScreens($p)
        .Header-icon
          width: 6em
          height: 6em
        .Header-title
          font-size: 2em
        .Header-subtitle
          font-size: 1em

      #LearnMoreButton
        position: absolute
        bottom: 2em
        right: 2em
  .HomepageNavigation
    width: min-content
    outline: solid 1px red
