// Themes
$themes: (
  light: (text: #180202,
    bgColor: #f8f8f8,
    primary: #4d5eff,
    secondary: #e6e6e5,
    accent: #eeff00,
  ),
  dark: (text: #e0e0e0,
    bgColor: #1a1a1a,
    primary: #0012b3,
    secondary: #1a1a19,
    accent: #eeff00,
  ),
);

// Fonts
@font-face {
  font-family: "Playfair Displace SC";
  src: url('./assets/fonts/playfairDisplaySC/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
  font-family: "ChunkFive";
  src: url('./assets/fonts/chunkfive/Chunk.ttf');
}

$shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.16);

// Light Mode and general
html {

  // Globals
  & {
    padding-top: 2.5em;
    // overflow-y: hidden;

    * {
      transition-property: color, background-color, border-bottom, border;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }


    #root {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    body {
      padding: 0;
      margin: 0;
      background-color: map-get(map-get($themes, light), bgColor);
    }

    h1,
    h2,
    h3,
    p {
      margin: 0;
    }

    font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;

    // Scrollbars for all
    & {
      overflow: overlay; // Use overlay to make the scrollbar an overlay
      padding-right: 0.5em; // Add padding to compensate for scrollbar width

      /* Hide scrollbars for all browsers */
      ::-webkit-scrollbar {
        width: 0em; // Adjust the width as needed
        height: 0.5em; // Adjust the height as needed
      }

      ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5); // Adjust the color as needed
      }

      /* For Firefox */
      scrollbar-width: thin; // Adjust the width as needed
      scrollbar-color: rgba(0, 0, 0, 0.5) transparent; // Adjust the color as needed
    }
  }

  // Classed
  & {
    .hologramLink {
      color: map-get(map-get($themes, light), text);
      font-style: normal;
      text-decoration: none;
      margin: 0.25em;
      vertical-align: middle;

      &.accountIconLink {
        margin: 0em 1em;
        height: 2em;
        aspect-ratio: 1/1;

        .accountIcon {
          height: 100%;
          width: 100%;
          border-radius: 100em;
        }
      }

    }
  }

  // Redirect Page
  & {
    .redirectPage {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;

      .icon {
        height: 12em;
        aspect-ratio: 1/1;
        background-image: url("./assets/luad.png");
        background-size: cover;
      }
    }
  }

  // Top Navigation Bar
  & {

    .topNav {
      width: 100%;
      padding: 0.4em 0em;
      border-bottom: 1px solid rgb(215, 215, 215);
      display: flex;
      align-items: center;
      z-index: 5;

      background-color: rgb(250, 250, 255);
      /* Adjust as needed */
      position: fixed;
      top: 0;

      .topNav-left {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .hologramLink:not(.accountIconLink) {
          margin: 0em 0.75em;
          transition: transform 0.1s ease-in-out;

          &:hover {
            transform: scale(1.05);
            color: blueviolet;
          }
        }
      }

      .topNav-right {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: right;
      }
    }

  }

  // Homepage
  & {
    .header {
      width: 100%;
      height: 24em;
      margin: 0.25em 0em 2em 0em;
      border-radius: 0em 0em 0.5em 0.5em;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;

      .header-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        position: absolute;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(13, 0, 54, 0.8);
        border-radius: 0em 0em 0.5em 0.5em;
        z-index: -1;
      }

      .icon {
        height: 40%;
        aspect-ratio: 1/1;
        background-image: url("./assets/luad.png");
        background-size: cover;
      }

      .homepage-headerTitle {
        font-size: 3.5em;
        font-family: "Chunkfive";
        font-weight: 100;
        -webkit-text-stroke: 0.025em black;
        color: map-get(map-get($themes, light), accent);
      }

      .homepage.subtitle {
        font-size: 1.25em;
        width: 25%;
        text-align: center;
        font-family: "Playfair Display SC";
      }

      #homepage-learnMoreButton {
        background-color: rgba(15, 0, 31, 0.4);
        border: none;
        color: white;
        padding: 0.75em;
        transition: background-color 0.025s ease-in-out;
        margin-right: 2em;
        position: relative;
        top: 2em;

        align-self: flex-end;

        &:active {
          background-color: rgba(180, 164, 198, 0.4);
        }
      }
    }

    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin-bottom: 5em;

      .contents-parameter {
        position: relative;
        display: flex;
        justify-content: center;
        width: 90vw;
        .categoryPanel {
          height: 2em;
  
          button {
            background: none;
            border: none;
            font-size: 1.25em;
            margin: 0 0.5em;
            padding: 2px;
            cursor: pointer;
            transition: border-bottom 0.1s ease-in;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  
            &.isSelected {
              border-bottom: 3px solid rgba(0, 0, 0, 1);
            }
          }
        }
        .refreshButton {
          position: absolute;
          right: 0%;
        }
      }

      .contentList {
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5em;

        .content {
          padding: 0.5em;
          padding-bottom: 2em;
          position: relative;
          // border: 1px solid black;
          border-radius: 0.5em;
          overflow: hidden;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          font-style: normal;
          text-decoration: none;
          // outline: solid red;

          &:not(.large) {
            aspect-ratio: 1/1;
          }

          &.large {
            grid-column: span 2;
          }

          
          .content-thumbnail {
            z-index: -2;
            position: absolute;
            top: 0px;
            left: 0px;
            height: calc(100% + 1em);
            width: 100%;
            object-fit: cover;
            transition: transform 1.05s ease-out;
          }
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(2,0,36,0.6558998599439776) 0%, rgba(0,0,50,0.5494572829131652) 35%, rgba(0,47,57,0) 100%);
            z-index: -1;
          }

          .content-title {
            font-weight: 625;
            font-size: 1.5em;
          }
          
          .content-author {
            outline: red;
            opacity: 0.75;
            transition: margin 0.15s;
          }
          
          &:hover {
            &::before {
              background: linear-gradient(0deg, rgba(2,0,36,0.6558998599439776) 5%, rgba(0,0,50,0.5494572829131652) 45%, rgba(0,47,57,0) 100%);
            }
            .content-author {
              margin-bottom: 0.25em;
            }
            .content-thumbnail {
              transform: scale(1.05);
            }
          }
          // .content-content {
          //   max-height: 9em;
          //   overflow: hidden;
          //   text-overflow: ellipsis;
          //   display: -webkit-inline-box;
          //   -webkit-line-clamp: 4;
          // }

        }
      }
    }
  }

  // Content Pages
  & {
    .contentPage {
      padding: 2em 1em;

      .contentPage-thumbnail {
        width: 60%;
        margin: 1em 0em;
        height: auto;
        border-radius: 0.5em;
      }
    }
  }

  // Footer
  & {
    .footer {
      margin-top: 16em;
      height: 12em;
      width: calc(100vw - 4em);
      background-color: #1a1a1a;
      padding: 2em;
      color: white;
    }
  }
}

// Dark mode styling
html.darkmode {

  // Globals
  & {
    body {
      background-color: map-get(map-get($themes, dark), bgColor);
      color: map-get(map-get($themes, dark), text);

      p,
      h1,
      h2,
      h3,
      button,
      a {
        color: map-get(map-get($themes, dark), text)
      }

      button {
        background-color: map-get(map-get($themes, dark), bgColor);
      }
    }
  }

  // Top navigation bar
  & {
    .topNav {
      background-color: map-get(map-get($themes, dark), primary);
      border-bottom: none;

      .topNav-left {
        .hologramLink:not(.accountIconLink) {
          &:hover {
            color: map-get(map-get($themes, dark), accent);
          }
        }
      }
    }
  }

  // Homepage
  & {
    .contents {
      .categoryPanel {
        button {
          border-bottom: 1px solid rgba(255, 255, 255, 0.75);

          &.isSelected {
            border-bottom: 3px solid rgba(255, 255, 255, 0.9);
          }
        }
      }

      .contentList {
        .content {
          outline: red;
        }
      }
    }
  }

  // Footer
  & {
    .footer {
      background-color: #000319;
    }
  }
}

// =================================================

// Profile Page (Temporary)
html {
  .profilePage {
    display: grid;
    place-items: center;
    margin-top: 2em;

    & * {
      margin: 0.25em;
    }

    button {
      padding: 0.5em;
    }
  }

  .infoDiv {
    box-shadow: $shadow;
    margin: 1em;
    width: 90vw;
    height: 40vh;
    border-radius: 0.5em;
    padding: 1em;
  }
}