@font-face {
  font-family: "Playfair Displace SC";
  src: url("./assets/fonts/playfairDisplaySC/PlayfairDisplaySC-Regular.ttf");
}
html .hologramLink {
  color: black;
  font-style: normal;
  padding: 0.25em;
  border-bottom: 1px black;
  margin: 0.25em;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html #root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body {
  padding: 0;
  margin: 0;
}
html h1,
html h2,
html h3,
html p {
  margin: 0;
}

html .topNav {
  width: 100%;
  padding: 0.3em 0em;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.16);
}

html .header {
  width: 100%;
  height: 24em;
  margin: 0.25em 0em 2em 0em;
  border-radius: 0em 0em 0.5em 0.5em;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html .header .header-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: absolute;
}
html .header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 0, 54, 0.8);
  border-radius: 0em 0em 0.5em 0.5em;
}
html .header * {
  z-index: 1;
}
html .header .icon {
  height: 40%;
  aspect-ratio: 1/1;
  background-image: url("./assets/luad.png");
  background-size: cover;
}
html .header h1 {
  font-size: 3.5em;
  font-family: "Playfair Display SC";
  color: gold;
}
html .header p {
  font-size: 1.25em;
  width: 25%;
  text-align: center;
  font-family: "Playfair Display SC";
}
html .header button {
  background-color: rgba(15, 0, 31, 0.4);
  border: none;
  color: white;
  padding: 0.75em;
  transition: background-color 0.025s ease-in-out;
  margin-right: 2em;
  position: relative;
  top: 2em;
  align-self: flex-end;
}
html .header button:active {
  background-color: rgba(180, 164, 198, 0.4);
}

html .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
html .contents .categoryPanel {
  height: 2em;
}
html .contents .categoryPanel button {
  background: none;
  border: none;
  font-size: 1.25em;
  margin: 0 0.5em;
  padding: 2px;
  cursor: pointer;
  transition: border-bottom 0.1s ease-in;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
html .contents .categoryPanel button.isSelected {
  border-bottom: 3px solid rgb(0, 0, 0);
}
html .contents .contentList {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}
html .contents .contentList .content {
  padding: 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-size: cover;
  aspect-ratio: 1.25;
}

html {
  /* Hide scrollbars for all browsers */
}
html ::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  visibility: hidden !important;
}
html ::-moz-scrollbar {
  width: 0 !important;
  height: 0 !important;
  visibility: hidden !important;
}

html {
  /* For WebKit Browsers (Chrome, Safari) */
  /* For Firefox */
}
html .header::-webkit-scrollbar {
  width: 0.5em;
  /* adjust as needed */
}
html .header::-webkit-scrollbar-thumb {
  background-color: transparent;
}
html .header {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}/*# sourceMappingURL=main.css.map */