// Themes
$themes: (
  light: (
    text: #180202,
    background: #b4dbf8,
    primary: #4d5eff,
    secondary: #e6e6e5,
    accent: #eeff00,
  ),
  dark: (
    text: #fde7e7,
    background: #072d4b,
    primary: #0012b3,
    secondary: #1a1a19,
    accent: #eeff00,
  ),
);

// Fonts
@font-face {
  font-family: "Playfair Displace SC";
  src: url('./assets/fonts/playfairDisplaySC/PlayfairDisplaySC-Regular.ttf');
}
@font-face {
  font-family: "ChunkFive";
  src: url('./assets/fonts/chunkfive/ChunkFivePrint.ttf');
}

$shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.16);

// Global Classes
html {
  & {
    #root {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    body {
      padding: 0;
      margin: 0;
    }
    
    h1, h2, h3, p {
      margin: 0;
    }
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .hologramLink {
    color: black;
    font-style: normal;
    padding: 0.25em;
    border-bottom: 1px black;
    margin: 0.25em;
  }
  .content-content {
    max-height: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 4;
  }

}

// Top Navigation Bar
html {
  .topNav {
    width: 100%;
    padding: 0.3em 0em;
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    display: flex;

    .topNav-left {
      width: 100%;
      height: 100%;
    }

    .topNav-right {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: right;
    }
  }
}

// Homepage
html {
  .header {
    width: 100%;
    height: 24em;
    margin: 0.25em 0em 2em 0em;
    border-radius: 0em 0em 0.5em 0.5em;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::-webkit-scrollbar {
      width: 0.5em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    .header-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;
      position: absolute;

    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(13, 0, 54, 0.8);
      border-radius: 0em 0em 0.5em 0.5em;
      z-index: -1;
    }

    .icon {
      height: 40%;
      aspect-ratio: 1/1;
      background-image: url("./assets/luad.png");
      background-size: cover;
    }
    
    .homepage-headerTitle {
      font-size: 3.5em;
      font-family: "Chunkfive";
      color: gold;
    }

    .homepage.subtitle {
      font-size: 1.25em;
      width: 25%;
      text-align: center;
      font-family: "Playfair Display SC";
    }

    #homepage-learnMoreButton {
      background-color: rgba(15, 0, 31, 0.4);
      border: none;
      color: white;
      padding: 0.75em;
      transition: background-color 0.025s ease-in-out;
      margin-right: 2em;
      position: relative;
      top: 2em;

      align-self: flex-end;

      &:active {
        background-color: rgba(180, 164, 198, 0.4);
      }
    }
  }
  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  
    .categoryPanel {
      height: 2em;
  
      button {
        background: none;
        border: none;
        font-size: 1.25em;
        margin: 0 0.5em;
        padding: 2px;
        cursor: pointer;
        transition: border-bottom 0.1s ease-in;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  
        &.isSelected {
          border-bottom: 3px solid rgba(0, 0, 0, 1);
        }
      }
    }
  
    .contentList {
      margin-top: 1em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5em;
  
      .content {
        padding: 1em;
        border: 1px solid black;
        border-radius: 0.5em;
        background-size: cover;
        aspect-ratio: 1.25;
      }
    }
  }
}

// Profile Page (Temporary)
html {
  .profilePage {
    display: grid;
    place-items: center;
    margin-top: 2em;
    
    & * {
      margin: 0.25em;
    }

    button {
      padding: 0.5em;
    }
  }

  .infoDiv {
    box-shadow: $shadow;
    margin: 1em;
    width: 90vw;
    height: 40vh;
    border-radius: 0.5em;
    padding: 1em;
  }
}
